.card {
    min-width: 400px;
    max-width: 500px;
    height: 200px;
    background-color: orange;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 7px 8px 0px rgba(0 ,0 ,0 ,0.5);
    transition: transform .40s;

    &:hover,
    &:focus {
        transform: scale(1.03) skew(0.5deg) rotate(2deg);
        transform-origin: bottom;
        box-shadow: 0px 7px 8px 0px rgba(0 ,0 ,0 ,0.5);
    }

    &__article {
        display: flex;
    }

    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &:nth-child(1) {
        background-image: linear-gradient(to top, #aaafad 0%, #60efff 100%);
    }

    &:nth-child(2) {
        background-image: linear-gradient(to top, #ead9dd 0%, #e97586 100%);
    }
    
    &:nth-child(3) {
        background-image: linear-gradient(to top, #eb5647 0%, #6e81b7 100%);
    }

    &:nth-child(4) {
        background-image: linear-gradient(to top, #404040 0%, #d14280 100%);
    }

    &:nth-child(5) {
        background-image: linear-gradient(to top, #da7a1f 0%, #fe6978 100%);
    }

    &__image-container {
        height: 200px;
        background-color: blue;
        overflow: hidden;
        clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    }

    &:hover &__image-container,
    &:focus &__image-container {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    /* responsive -> 768px */

    @media screen and (min-width: 768px) {
        & {
            width: 200px;
            max-width: 300px;
            height: 400px;
        }

        &__article {
            flex-direction: column;
        }

        & &__image-container {
            clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
        }

        &:hover &__image-container,
        &:focus &__image-container {
            clip-path: polygon(0 0, 100% 0, 100% 200px, 0 200px);
        }
    }
}